@import url('https://fonts.googleapis.com/css2?family=poppins&display=swap');
*{ 
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-feature-settings: normal;
}
header {
    background-color: #EFEEED;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.head{
    background-color: #EFEEED;
    font-family: "Roboto Condensed", serif;
}
.head2{
    background-color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.srch{
    line-height: 1.5;
    text-decoration: none;
    word-break: break-word;
    font-weight: 500;
    display: inline-block;
    font-family: "Roboto Condensed", serif;
    font-size: 0.8vw;
    color:#161616;
    padding:13px 17px;
    border-radius:18px;
    border: transparent;
    background-color: transparent;
    white-space:nowrap;
}
.btn{
    line-height: 1.5;
    text-decoration: none;
    word-break: break-word;
    font-weight: 500;
    display: inline-block;
    font-family: "Roboto Condensed", serif;
    font-size: 10px;
    color:#161616;
    padding:10px 14px;
    border-radius:18px;
    border: 1px solid white;
    background-color: white;
    white-space:nowrap;
 }
.bt{
    line-height: 1.5;
    text-decoration: none;
    word-break: break-word;
    font-weight: 500;
    display: inline-block;
    font-family: "Roboto Condensed", serif;
    font-size: 10px;
    color:#161616;
    padding:10px 14px;
    border-radius:18px;
    border: 1px solid white;
    background-color: white;
    white-space:nowrap;
}
.link {
    white-space: nowrap;
    text-decoration: none;
    word-break: break-word;
    font-weight: 400;
    display: inline-block;
    font-family: "Roboto Condensed", serif;
    font-size: 15px;
    color: #161616;
    margin-left: 42%;
}
.name{
    border-radius: 15px;
    border: 1px solid white;
    width: 4%;
    height: 24px;
    font-size: 10px;
    margin-top: 4%;
    margin-left: 53%;
    font-weight: bold;
    background-color: white;
    position: relative;
    animation-name: infiniteupdown;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all 3.3s;
    rotate: -15deg;
    font-family: "Roboto Condensed", serif;
}
@keyframes infiniteupdown{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}
.one{
    margin-top: -5%;
    text-align: center;
}
.dot{
    height: 130px;
    width: 130px;
    background: white;
    border-radius: 50%;
    display: inline-flex;
}
.dot1{
    height: 124px;
    width: 124px;
    margin-top: 2%;
    margin-left: 2%;
    background-image: url(Media\ \(5\).jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.btnn{
    margin-left: 0%;
    line-height: 1.5;
    text-decoration: none;
    word-break: break-word;
    font-weight: 500;
    display: inline-block;
    font-family: "Roboto Condensed", serif;
    font-size: 13px;
    color: white;
    margin-top: 28px;
    padding:10px 14px;
    border-radius:15px;
    border: transparent;
    background-color: black;
    white-space:nowrap;
}
.wrapper{
    width: 100%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 90px;
    margin-top: 1%;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, black 16%, black 85%, transparent) ;
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}
@keyframes scrollLeft {
    to {
        left: -200px;
    }
}
.item{
    width: 9%;
    height: 89px;
    border-radius: 6px;
    position: absolute;
    left: calc(200px * 8);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
    background-size: cover;
    background-size: 150px 86px;
}
.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
    background-size: 168px 148px;
    background-position: center;
}
.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
    background-position: center;
    background-size: 150px 86px;
}
.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
    background-size: 150px 86px;
}
.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
    background-size: cover;
    background-size: 150px 86px;
}
.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
    background-size: cover;
    background-size: 160px 87px;
}

.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
    background-size: cover;
}
.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
    text-align: center;
    background-size: 150px 86px;
}
.two{
    margin-top: 2%;
    text-align: center;
    font-size: 20px;
}
.bn{
    margin-left: 0%;
    line-height: 1.5;
    text-decoration: none;
    word-break: break-word;
    font-weight: 500;
    display: inline-block;
    font-family: "Roboto Condensed", serif;
    font-size: 15px;
    color: black;
    margin-top: 28px;
    padding:10px 14px;
    border-radius: 20px;
    border: transparent;
    background-color: white;
    white-space:nowrap;
    rotate: -10deg;
}
.border{
    margin-left: 19%;
    margin-top: -20px;
    border: 1px solid darkgray;
    width: 67%;
}
.bn1{
    line-height: 1.5;
    text-decoration: none;
    word-break: break-word;
    font-weight: 500;
    display: inline-block;
    white-space:nowrap;
    margin-left: 20%;
    margin-top: 3%;
}
.bn2{
    line-height: 1.5;
    text-decoration: none;
    word-break: break-word;
    font-weight: 500;
    display: inline-block;
    white-space:nowrap;
    margin-left: 5%;
}
.bn3{
    line-height: 1.5;
    text-decoration: none;
    word-break: break-word;
    font-weight: 500;
    display: inline-block;
    white-space:nowrap;
    margin-left: 7%;
}
.bn4{
    line-height: 1.5;
    text-decoration: none;
    word-break: break-word;
    font-weight: 500;
    display: inline-block;
    white-space:nowrap;
    margin-left: 7%;
}
.head3{
    margin-top: 50px;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.dot2{
    margin-left: 45%;
    text-align: center;
    font-size: 20px;
}
.dot3{
    height: 140px;
    width: 130px;
    margin-top: 15px;
    margin-left: 0%;
    background-image: url(handshakes.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: inline-flex;
}
.head4{
    margin-left: 4%;
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
}
.bt1{
    line-height: 1.5;
    text-decoration: none;
    word-break: break-word;
    font-weight: 400;
    display: inline-block;
    font-family: "Roboto Condensed", serif;
    font-size: 15px;
    color: white;
    padding: 10px 14px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: black;
    white-space: nowrap;
}
.bt2{
    line-height: 1.5;
    text-decoration: none;
    word-break: break-word;
    font-weight: 400;
    display: inline-block;
    font-family: "Roboto Condensed", serif;
    font-size: 15px;
    color: black;
    padding: 10px 14px;
    border-radius: 20px;
    border: 2px solid #EFEEED;
    background-color: white;
    white-space: nowrap;
}
.border1{
    margin-left: 27%;
    margin-top: 1%;
    border: 1px solid darkgray;
    width: 45%;
}
.p{
    text-decoration: auto;
    word-break: break-word;
    font-weight: 400;
    display: flow;
    font-family: "Roboto Condensed", serif;
    font-size: 15px;
    background-color: transparent;
    margin-left: 31%;
}
.link1{
    text-decoration: none;
    word-break: break-word;
    font-weight: 400;
    display: inline-flex;
    font-family: "Roboto Condensed", serif;
    font-size: 15px;
    color: #161616;
    white-space: nowrap;
    margin-left: 20%;
}